@model IEnumerable<TreinTickets.ViewModels.RitVM>

@{
    ViewData["Title"] = "Ritten";
}

<h1>Ritten</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TreinKlasse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaatsNummer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VertrekStad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BestemmingsStad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VertrekDag)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TreinKlasse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaatsNummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VertrekStad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BestemmingsStad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VertrekDag)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
